<div>
  <div class="container">
    <div class= "row">
      <div class = "center-block col-sm-12">
        <form class = "form-group" ng-submit="userList.search(userList.searchName)">
          <input type="text" class="form-control"  ng-model="userList.searchName" name="username" placeholder="Type the username and press Enter">
        </form>
      </div>
    </div>
  </div>
  <div class= "container">
    <div class= "row">
      <div class = "center-block col-sm-12">
        <ul class= "list-group">
          <li class="list-group-item" ng-repeat="user in userList.users track by $index">
            <a ui-sref="login({login:user.login})"><img  ng-src="{{user.avatar_url}}" class="img-responsive img-thumbnail" width="100px" height="100px"></a>
            <span ><a ui-sref="login({login:user.login})">{{user.login}}</a></span>
        </ul>
        <div class="text-center" ng-hide="userList.isSearched">
          <h3>No Matches found</h3>
        </div>
      </div>
    </div>
  </div>
</div>