<!doctype html>
<html lang="" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>my new project</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>
  <header class = "header">
    <span>Task 1</span>
  </header>
  <div ng-controller="UserListController as userList">
    <div class = "center-block">
      <form class = "form-group">
        <input type="text" class="form-control" ng-model="userList.searchName" name="username">
      </form>
    </div>
    <div>
        <ul class= "list-group">
          <li class="list-group-item" ng-repeat="user in userList.users track by $index">
            <img ng-src="{{user.avatar_url}}" width="100px" height="100px">
            <span>{{user.login}}</span>
            <span>followers = {{user.followers}}</span>
            <span>repos = {{user.repos}}</span>
        </ul>
    </div>
  </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>

    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    
    <script src="scripts/main.js"></script>
    <script src="scripts/UserListController.js"></script>
    <script src="scripts/userListService.js"></script>
    <!-- endbuild -->
  </body>
</html>
